.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #000814;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}
.logo {
  color: #fca311;
  font-size: 2rem;
}
.logo:hover {
  color: #e5e5e5;
}
.links {
  display: flex;
  align-items: center;
}
.link {
  color: #e5e5e5;
  text-decoration: none;
  margin: auto 15px;
}
.link:active,
.link:focus {
  color: #ffffff;
}
.btn {
  background-color: #fca311;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transition: all 0.2s ease-in-out;
  background-color: #e5e5e5;
  color: #000000;
}
